openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://ec2-54-249-9-163.ap-northeast-1.compute.amazonaws.com:8080
  description: Generated server url
paths:
  /entry/:
    get:
      tags:
      - api-controller
      operationId: getApi
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - api-controller
      operationId: postApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryRequestDto'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntryResponseDto'
  /entry/test:
    get:
      tags:
      - api-controller
      operationId: getTestApi
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    AddressDto:
      required:
      - municipalities
      - prefectures
      type: object
      properties:
        prefectures:
          type: string
        municipalities:
          type: string
    CustomerDto:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/AddressDto'
    EntryRequestDto:
      required:
      - customer
      - id
      type: object
      properties:
        id:
          type: string
        customer:
          $ref: '#/components/schemas/CustomerDto'
        date:
          type: string
          format: date-time
    EntryResponseDto:
      required:
      - result
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        date:
          type: string
          format: date-time
        result:
          type: string
